<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ubah Data</title>
</head>
<body>
	<div class="card-body">
		<h1 calss="card-tittle">Ubah Data Genre</h1>
		<p class="card-descrtiption">Masukan detail data</p>
		<form class="form-sample" id="form-genre-tambah">
			<div class="form-group">
				<label stlye="color : blue">Kode Genre</label>
				<input style="text" class="form-control" placeholder="Masukan Kode Genre" name="kodeGenre">
			</div>
			<div class="form-group">
				<label stlye="color : blue">Nama Genre</label>
				<input style="text" class="form-control" placeholder="Masukan Nama Genre" name="namaGenre">
			</div>
			<button type="submit" class="btn btn-success mr-2">Submit</button>
			<button class="btn btn-light" data-dismiss="modal">Cancel</button>
		</form>
	</div>
	
</body>
</html>