<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tambah Data Produser</title>
</head>
<body>

<div class="card-body">
		<h1 class="card-tittle">Tambah Data Produser</h1>
		<p class="card-descrtiption">Masukan detail data</p>
		<form class="form-sample" id="form-produser-tambah">
			<div class="form-group">
				<label style="color : blue">Kode Produser</label>
				<input style="text" class="form-control" placeholder="Masukan Kode Produser" name="kodeProduser">
			</div>
			<div class="form-group">
				<label style="color : blue">Nama Produser</label>
				<input style="text" class="form-control" placeholder="Masukan Nama Produser" name="namaProduser">
			</div>
			<button type="submit" class="btn btn-success mr-2">Submit</button>
			<button class="btn btn-light" data-dismiss="modal">Cancel</button>
		</form>
	</div>

</body>
</html>